@media (max-width: 1200px) {
  #category {
    padding-block: 100px;
  }
  .main-box {
    gap: 10px;
  }
  .box,
  .main-box {
    gap: 10px;
    padding: 20px;
  }
  .evolved img {
    max-width: 840px;
  }
  .evolved-text {
    max-width: 560px;
  }
}
@media (max-width: 750px) {
  #category {
    padding-block: 30px;
  }
  .category h2 {
    text-align: center;
  }
  .main-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .evolved {
    flex-direction: column;
    gap: 30px;
  }
  .box {
    gap: 20px;
  }
  .evolved img {
    height: 500px;
  }
  .evolved-text {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    position: relative;
    padding: 0;
    gap: 20px;
  }
}
